<h1>2.4 - Les directive</h1>

<p>
  Les directives sont des décorateurs de balise html qui permettes d'associer un
  traitement spécifique à la balise. <br />
  Les plus classique sont *ngFor et *ngIf qui permettent respectivement : <br />
  - D'appliquer une boucle for sur la balise et ses balises filles. -
  D'appliquer un affichage conditionner à la balise et ses balises filles (cela
  retire du DOM pas seulement la visibiliter de celle-ci). l'étoile * permet de
  spécifier si une directive impact le DOM de la page.
</p>

<h2>*ngIf</h2>

<span *ngIf="visible">Bonjour je suis afficher</span>
<span *ngIf="!visible">Bonjour je ne suis pas afficher</span>

<p>
  Il est important de notifier que si la directive est spécifier sur un
  composant alors l'apparition disparition de celui ci<br />
  executera le cycle de vie du composant. (F12)
</p>

<button (click)="isFils = !isFils">ajout/supr fils</button>
<app-fils-directive *ngIf="isFils" class="mt-2"></app-fils-directive>
