<h1>1.1 - Les composants</h1>

<p> 
    Angular est un framework single page orienter composant, l'idée et de crée des composant représentant un besoin métier.
    <br />Exp: un composant menu, un composant formulaire d'inscription, article etc ...
    <br />Il peu aussi représenter un element que l'on souhaite réutiliser à de multiple occasion.
    Exp: un composant ligne qui reprend l'usage de la balise ul mais avec un style particulier
</p>


<div class="row">
    <app-fils class="col-8"></app-fils>
    <app-fils class="col-4"></app-fils>
</div>
<div class="row">
    <app-fils class="col-8"></app-fils>
</div>

<p> 
    {{fonctionInTemplate()}}
</p>