<h1> Angular Apprentisage </h1>

<p> L'objective de ce projet est de faire un tours d'horrizon des posibilité d'angular.
Un composant est un ensemble de fichier qui à pour but de representer une vue.
Angular est un framework single page orienter composant, l'idée et de crée des composant représentant un besoin métier.
Exp: un composant menu, un composant formulaire d'inscription, article etc ...
Il peu aussi représenter un element que l'on souhaite réutiliser à de multiple occasion.
Exp: un composant ligne qui reprend l'usage de la balise ul mais avec un style particulier</p>

<ul>
  <li>Premiere partie - Les composants</li>
  <li > <a routerLink="/fonctionalitees">Deuxieme partie - Les fonctionalitées</a></li>
</ul>
