<h1>2 - Fonctionalitées</h1>

<p>Ici nous allons voir les divers fonctionalitées angular.
    Dans un premier temps parlons des modules, un modules est un fichier en .module.ts (convention de nomage),
    qui référence tous les composant/services crées ainsi que toute les librairie utilisé par ces composant.
    Il permet de déclarer également quelle objet nous voulons exporter vers d'autre module.
    Pour résumer un module et la notice du composant. Nous reviendrons plus en détail sur la partie module.
</p>

<ul> 
    <li><a routerLink="/fonctionalitees/formulaire">Les formulaires</a></li>
    <li><a routerLink="/fonctionalitees/comunication">La communication</a></li>
    <li><a routerLink="/fonctionalitees/input">Les input</a></li>
    <li><a routerLink="/fonctionalitees/output">Les output</a></li>
</ul>
