<h1>2 - Fonctionalités</h1>

<p>
  Ici nous allons voir les divers fonctionalités angular. Dans un premier temps
  parlons des modules. Un module est un fichier en .module.ts (convention de
  nommage), qui référence tous les composants/services crées ainsi que toutes
  les librairies utilisées par ces composant. Il permet de déclarer également
  quel objet nous voulons exporter vers d'autres modules. Pour résumer, un
  module est la notice du composant. Nous reviendrons plus en détail sur la
  partie module.
</p>

<ul>
  <li><a routerLink="/fonctionalitees/formulaire">Les formulaires</a></li>
  <li><a routerLink="/fonctionalitees/comunication">La communication</a></li>
  <li><a routerLink="/fonctionalitees/routing">Le routing</a></li>
  <li><a routerLink="/fonctionalitees/directive">Les directive</a></li>
</ul>
